@media (max-width: 320px) {
  .nav {
    width: 100%;
  }

  .logo {
    padding: 30px;
    text-align: center;
  }

  .logo__ref {
    text-decoration: none;
  }

  .logo__text {
    font-size: 30px;
    font-family: 'Lacquer', sans-serif;
    color: rgb(71, 71, 71);
    line-height: 0.429;
    cursor: pointer;
  }

  .menu {
    display: block;
  }

  .menu__item {
    padding: 6px;
    list-style: none;
  }

  .menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Neucha', cursive;
    color: rgb(71, 71, 71);
    line-height: 1.05;
  }

  .menu__link:hover {
    color: indigo;
    background: lawngreen;
  }

  .toggleMenu {
    font-size: 20px;
    text-align: center;
  }

  .gallery{
      display: none;
  }
}
